# Tratamento, Exploração e Visualização de Dados

## Referências
* [Artigo da Analytics Vidhya](https://www.analyticsvidhya.com/blog/2021/06/data-manipulation-using-pandas-essential-functionalities-of-pandas-you-need-to-know/#:~:text=Pandas%20is%20an%20open%2Dsource,work%20on%2C%20DataFrame%20and%20Series)
* [IBGE](https://www.ibge.gov.br/estatisticas/sociais/populacao/9103-estimativas-de-populacao.html?=&t=resultados)
* [Doc Pandas](https://pandas.pydata.org/%3E)

> Base de dados pode ser obtida [aqui](https://github.com/alura-cursos/agendamento-hospitalar/blob/main/dados/estimativa_dou_2020.xls?raw=true)

## Parte I

In [1]:
from pathlib import Path
from urllib.request import urlretrieve

PATH_DATA_RAW = './data/raw'
URL_DADOS = 'https://github.com/alura-cursos/agendamento-hospitalar/blob/main/dados/estimativa_dou_2020.xls?raw=true'
PATH_DADOS = PATH_DATA_RAW + '/estimativa_dou_2020.xls'

Path(PATH_DATA_RAW).mkdir(parents=True, exist_ok=True)

urlretrieve(URL_DADOS,
            PATH_DADOS)

('./data/raw/estimativa_dou_2020.xls',
 <http.client.HTTPMessage at 0x7318383ee850>)

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(PATH_DADOS)

df.head()

,ESTIMATIVAS DA POPULAÇÃO RESIDENTE NO BRASIL E UNIDADES DA FEDERAÇÃO COM DATA DE REFERÊNCIA EM 1º DE JULHO DE 2020,Unnamed: 1,Unnamed: 2
0,BRASIL E UNIDADES DA FEDERAÇÃO,NaN,POPULAÇÃO ESTIMADA
1,Brasil,NaN,211755692
2,Região Norte,NaN,18672591
3,Rondônia,NaN,1796460
4,Acre,NaN,894470

In [4]:
# Fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o
# Fonte indireta

dados_populacao_wiki = """Unidade federativa	População	% da pop. total	País comparável

São Paulo	46 649 132	21,9%	Flag of Spain.svg Espanha (46 439 864)
Minas Gerais	21 411 923	10,1%	 Sri Lanka (20 675 000)
Rio de Janeiro	17 463 349	8,2%	 Países Baixos (16 922 900)
Bahia Bahia	14 985 284	7,1%	 Chade (14 037 000)
Paraná	11 597 484	5,4%	 Bolívia (11 410 651)
Rio Grande do Sul	11 466 630	5,4%	 Bélgica (11 250 659)
Pernambuco	9 674 793	4,5%	 Bielorrússia (9 485 300)
Ceará	9 240 580	4,3%	 Emirados Árabes Unidos (9 157 000)
Pará Pará	8 777 124	4,1%	 Áustria (8 602 112)
Santa Catarina	7 338 473	3,4%	 Sérvia (7 114 393)
Goiás	7 206 589	3,4%	 Paraguai (7 003 406)
Maranhão	7 153 262	3,4%	 Paraguai (7 003 406)
Amazonas	4 269 995	2,0%	 Líbano (4 168 000)
Espírito Santo	4 108 508	1,9%	 Líbano (4 168 000)
Paraíba	4 059 905	1,9%	 Líbano (4 168 000)
Mato Grosso	3 567 234	1,7%	 Uruguai (3 415 866)
Rio Grande do Norte	3 560 903	1,7%	 Uruguai (3 415 866)
Alagoas	3 365 351	1,6%	 Uruguai (3 415 866)
Piauí	3 289 290	1,6%	 Kuwait (3 268 431)
Distrito Federal	3 094 325	1,4%	 Lituânia (2 900 787)
Mato Grosso do Sul	2 839 188	1,3%	 Jamaica (2 717 991)
Sergipe	2 338 474	1,1%	 Namíbia (2 280 700)
Rondônia	1 815 278	0,8%	 Gabão (1 725 000)
Tocantins	1 607 363	0,7%	 Bahrein (1 359 800)
Acre	906 876	0,4%	 Fiji (859 178)
Amapá	877 613	0,4%	 Fiji (859 178)
Roraima	652 713	0,3%	 Luxemburgo (562 958)"""

len(dados_populacao_wiki)

1363

In [5]:
from io import StringIO

dados_populacao_wiki_io = StringIO(dados_populacao_wiki)

dados_populacao_wiki_io

In [6]:
df_populacao = pd.read_csv(dados_populacao_wiki_io,
                           sep='\t')

df_populacao.head()

,Unidade federativa,População,% da pop. total,País comparável
0,São Paulo,46 649 132,"21,9%",Flag of Spain.svg Espanha (46 439 864)
1,Minas Gerais,21 411 923,"10,1%",Sri Lanka (20 675 000)
2,Rio de Janeiro,17 463 349,"8,2%",Países Baixos (16 922 900)
3,Bahia Bahia,14 985 284,"7,1%",Chade (14 037 000)
4,Paraná,11 597 484,"5,4%",Bolívia (11 410 651)

### Desafio 2: Limpar tabela do ibge

In [7]:
ibge = pd.read_excel(PATH_DADOS, 
                     skiprows=1,
                     skipfooter=7)

ibge.head()

  BRASIL E UNIDADES DA FEDERAÇÃO  Unnamed: 1 POPULAÇÃO ESTIMADA
0                         Brasil         NaN          211755692
1                   Região Norte         NaN           18672591
2                       Rondônia         NaN            1796460
3                           Acre         NaN             894470
4                       Amazonas         NaN            4207714

In [8]:
ibge = ibge.drop(['Unnamed: 1'], axis=1)

ibge.head()

  BRASIL E UNIDADES DA FEDERAÇÃO POPULAÇÃO ESTIMADA
0                         Brasil          211755692
1                   Região Norte           18672591
2                       Rondônia            1796460
3                           Acre             894470
4                       Amazonas            4207714

In [9]:
ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BRASIL E UNIDADES DA FEDERAÇÃO  33 non-null     object
 1   POPULAÇÃO ESTIMADA              33 non-null     object
dtypes: object(2)
memory usage: 660.0+ bytes

### Desafio 3: Ler tabela da Wiki diretamente pelo HTML

In [10]:
! pip install lxml

Requirement already satisfied: lxml in /opt/conda/lib/python3.11/site-packages (5.1.0)

In [11]:
URL_WIKI = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'

df_wiki = pd.read_html(URL_WIKI)[1]

df_wiki.head()

,Posição,Unidade federativa,População (Censo de 2022)[2],População (Censo de 2010)[3],Mudança,% da pop. total,País comparável (habitantes)
0,1,São Paulo,44 411 238,41 262 199,+7.63%,"21,88%",Argentina (46 621 847)
1,2,Minas Gerais,20 538 718,19 597 330,+4.81%,"10,11%",Burquina Fasso (20 903 273)
2,3,Rio de Janeiro,16 054 524,15 989 929,+0.40%,"7,91%",Camboja (16 718 965)
3,4,Bahia,14 141 626,14 016 906,+0.89%,"6,96%",Zimbabwe (14 862 924)
4,5,Paraná,11 444 380,10 444 526,+9.57%,"5,64%",Tunísia (11 818 619)

## Parte II

In [12]:
df_populacao

,Unidade federativa,População,% da pop. total,País comparável
0,São Paulo,46 649 132,"21,9%",Flag of Spain.svg Espanha (46 439 864)
1,Minas Gerais,21 411 923,"10,1%",Sri Lanka (20 675 000)
2,Rio de Janeiro,17 463 349,"8,2%",Países Baixos (16 922 900)
3,Bahia Bahia,14 985 284,"7,1%",Chade (14 037 000)
4,Paraná,11 597 484,"5,4%",Bolívia (11 410 651)
5,Rio Grande do Sul,11 466 630,"5,4%",Bélgica (11 250 659)
6,Pernambuco,9 674 793,"4,5%",Bielorrússia (9 485 300)
7,Ceará,9 240 580,"4,3%",Emirados Árabes Unidos (9 157 000)
8,Pará Pará,8 777 124,"4,1%",Áustria (8 602 112)
9,Santa Catarina,7 338 473,"3,4%",Sérvia (7 114 393)
10,Goiás,7 206 589,"3,4%",Paraguai (7 003 406)
11,Maranhão,7 153 262,"3,4%",Paraguai (7 003 406)
12,Amazonas,4 269 995,"2,0%",Líbano (4 168 000)
13,Espírito Santo,4 108 508,"1,9%",Líbano (4 168 000)
14,Paraíba,4 059 905,"1,9%",Líbano (4 168 000)
15,Mato Grosso,3 567 234,"1,7%",Uruguai (3 415 866)
16,Rio Grande do Norte,3 560 903,"1,7%",Uruguai (3 415 866)
17,Alagoas,3 365 351,"1,6%",Uruguai (3 415 866)
18,Piauí,3 289 290,"1,6%",Kuwait (3 268 431)
19,Distrito Federal,3 094 325,"1,4%",Lituânia (2 900 787)
20,Mato Grosso do Sul,2 839 188,"1,3%",Jamaica (2 717 991)
21,Sergipe,2 338 474,"1,1%",Namíbia (2 280 700)
22,Rondônia,1 815 278,"0,8%",Gabão (1 725 000)
23,Tocantins,1 607 363,"0,7%",Bahrein (1 359 800)
24,Acre,906 876,"0,4%",Fiji (859 178)
25,Amapá,877 613,"0,4%",Fiji (859 178)
26,Roraima,652 713,"0,3%",Luxemburgo (562 958)

In [13]:
df_populacao.columns = ['uf', 'populacao', 
                        'porcentagem', 'pais_comparavel']

df_populacao.head()

,uf,populacao,porcentagem,pais_comparavel
0,São Paulo,46 649 132,"21,9%",Flag of Spain.svg Espanha (46 439 864)
1,Minas Gerais,21 411 923,"10,1%",Sri Lanka (20 675 000)
2,Rio de Janeiro,17 463 349,"8,2%",Países Baixos (16 922 900)
3,Bahia Bahia,14 985 284,"7,1%",Chade (14 037 000)
4,Paraná,11 597 484,"5,4%",Bolívia (11 410 651)

In [14]:
df_populacao['populacao'] = df_populacao['populacao'].str.replace(' ', '')

df_populacao

,uf,populacao,porcentagem,pais_comparavel
0,São Paulo,46649132,"21,9%",Flag of Spain.svg Espanha (46 439 864)
1,Minas Gerais,21411923,"10,1%",Sri Lanka (20 675 000)
2,Rio de Janeiro,17463349,"8,2%",Países Baixos (16 922 900)
3,Bahia Bahia,14985284,"7,1%",Chade (14 037 000)
4,Paraná,11597484,"5,4%",Bolívia (11 410 651)
5,Rio Grande do Sul,11466630,"5,4%",Bélgica (11 250 659)
6,Pernambuco,9674793,"4,5%",Bielorrússia (9 485 300)
7,Ceará,9240580,"4,3%",Emirados Árabes Unidos (9 157 000)
8,Pará Pará,8777124,"4,1%",Áustria (8 602 112)
9,Santa Catarina,7338473,"3,4%",Sérvia (7 114 393)
10,Goiás,7206589,"3,4%",Paraguai (7 003 406)
11,Maranhão,7153262,"3,4%",Paraguai (7 003 406)
12,Amazonas,4269995,"2,0%",Líbano (4 168 000)
13,Espírito Santo,4108508,"1,9%",Líbano (4 168 000)
14,Paraíba,4059905,"1,9%",Líbano (4 168 000)
15,Mato Grosso,3567234,"1,7%",Uruguai (3 415 866)
16,Rio Grande do Norte,3560903,"1,7%",Uruguai (3 415 866)
17,Alagoas,3365351,"1,6%",Uruguai (3 415 866)
18,Piauí,3289290,"1,6%",Kuwait (3 268 431)
19,Distrito Federal,3094325,"1,4%",Lituânia (2 900 787)
20,Mato Grosso do Sul,2839188,"1,3%",Jamaica (2 717 991)
21,Sergipe,2338474,"1,1%",Namíbia (2 280 700)
22,Rondônia,1815278,"0,8%",Gabão (1 725 000)
23,Tocantins,1607363,"0,7%",Bahrein (1 359 800)
24,Acre,906876,"0,4%",Fiji (859 178)
25,Amapá,877613,"0,4%",Fiji (859 178)
26,Roraima,652713,"0,3%",Luxemburgo (562 958)

In [15]:
df_populacao['populacao'] = df_populacao['populacao'].astype('int')

df_populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uf               27 non-null     object
 1   populacao        27 non-null     int64
 2   porcentagem      27 non-null     object
 3   pais_comparavel  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 996.0+ bytes

In [16]:
df_populacao['populacao'].describe()

count    2.700000e+01
mean     7.900653e+06
std      9.380644e+06
min      6.527130e+05
25%      2.966756e+06
50%      4.108508e+06
75%      9.457686e+06
max      4.664913e+07
Name: populacao, dtype: float64

In [17]:
df_populacao = df_populacao[['uf', 'populacao']]

df_populacao

                     uf  populacao
0             São Paulo   46649132
1          Minas Gerais   21411923
2        Rio de Janeiro   17463349
3           Bahia Bahia   14985284
4                Paraná   11597484
5     Rio Grande do Sul   11466630
6            Pernambuco    9674793
7                 Ceará    9240580
8             Pará Pará    8777124
9        Santa Catarina    7338473
10                Goiás    7206589
11             Maranhão    7153262
12             Amazonas    4269995
13       Espírito Santo    4108508
14              Paraíba    4059905
15          Mato Grosso    3567234
16  Rio Grande do Norte    3560903
17              Alagoas    3365351
18                Piauí    3289290
19     Distrito Federal    3094325
20   Mato Grosso do Sul    2839188
21              Sergipe    2338474
22             Rondônia    1815278
23            Tocantins    1607363
24                 Acre     906876
25                Amapá     877613
26              Roraima     652713

In [18]:
from urllib.request import urlretrieve
from pathlib import Path
from zipfile import ZipFile

DATA_URL = 'https://github.com/alura-tech/pos-datascience-analise-e-exploracao-de-dados/archive/refs/heads/Dados.zip'
DATA_PATH_RAW = './data/raw'
DATA_PATH_EXTRACTED = './data/interim'

Path(DATA_PATH_RAW).mkdir(parents=True, exist_ok=True)
Path(DATA_PATH_EXTRACTED).mkdir(parents=True, exist_ok=True)

urlretrieve(DATA_URL, DATA_PATH_RAW + '/data.zip')

with ZipFile(DATA_PATH_RAW + '/data.zip') as zip_ref:
    zip_ref.extractall(DATA_PATH_EXTRACTED)

In [19]:
FILE_PATH = './data/interim/pos-datascience-analise-e-exploracao-de-dados-Dados/A150850189_28_143_208.csv'

df_gastos = pd.read_csv(FILE_PATH,
                        encoding='ISO-8859-1', # Latin One
                        skiprows=3,
                        sep=';',
                        skipfooter=12,
                        thousands='.',
                        decimal=',')

df_gastos.shape

/tmp/ipykernel_28687/950513851.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_gastos = pd.read_csv(FILE_PATH,

(27, 293)

In [20]:
df_gastos = df_gastos.iloc[:, [0, -3]]

df_gastos.set_index('Unidade da Federação', inplace=True)

df_gastos

                            2021/Ago
Unidade da Federação
11 Rondônia             7.371335e+06
12 Acre                 1.196755e+06
13 Amazonas             1.380696e+07
14 Roraima              2.907871e+06
15 Pará                 2.083787e+07
16 Amapá                1.875242e+06
17 Tocantins            2.304080e+06
21 Maranhão             2.577967e+07
22 Piauí                1.522089e+07
23 Ceará                3.565001e+07
24 Rio Grande do Norte  1.680917e+07
25 Paraíba              1.616788e+07
26 Pernambuco           7.162584e+07
27 Alagoas              1.139388e+07
28 Sergipe              4.636421e+06
29 Bahia                6.164569e+07
31 Minas Gerais         1.391578e+08
32 Espírito Santo       2.712745e+07
33 Rio de Janeiro       9.413736e+07
35 São Paulo            3.019863e+08
41 Paraná               9.118772e+07
42 Santa Catarina       4.888500e+07
43 Rio Grande do Sul    7.495459e+07
50 Mato Grosso do Sul   1.130299e+07
51 Mato Grosso          1.984925e+07
52 Goiás                4.493982e+07
53 Distrito Federal     2.215644e+07

In [21]:
df_populacao.join(df_gastos)

                     uf  populacao  2021/Ago
0             São Paulo   46649132       NaN
1          Minas Gerais   21411923       NaN
2        Rio de Janeiro   17463349       NaN
3           Bahia Bahia   14985284       NaN
4                Paraná   11597484       NaN
5     Rio Grande do Sul   11466630       NaN
6            Pernambuco    9674793       NaN
7                 Ceará    9240580       NaN
8             Pará Pará    8777124       NaN
9        Santa Catarina    7338473       NaN
10                Goiás    7206589       NaN
11             Maranhão    7153262       NaN
12             Amazonas    4269995       NaN
13       Espírito Santo    4108508       NaN
14              Paraíba    4059905       NaN
15          Mato Grosso    3567234       NaN
16  Rio Grande do Norte    3560903       NaN
17              Alagoas    3365351       NaN
18                Piauí    3289290       NaN
19     Distrito Federal    3094325       NaN
20   Mato Grosso do Sul    2839188       NaN
21              Sergipe    2338474       NaN
22             Rondônia    1815278       NaN
23            Tocantins    1607363       NaN
24                 Acre     906876       NaN
25                Amapá     877613       NaN
26              Roraima     652713       NaN

In [22]:
df_gastos.index = df_gastos.index.str[3:]

df_gastos

                          2021/Ago
Unidade da Federação
Rondônia              7.371335e+06
Acre                  1.196755e+06
Amazonas              1.380696e+07
Roraima               2.907871e+06
Pará                  2.083787e+07
Amapá                 1.875242e+06
Tocantins             2.304080e+06
Maranhão              2.577967e+07
Piauí                 1.522089e+07
Ceará                 3.565001e+07
Rio Grande do Norte   1.680917e+07
Paraíba               1.616788e+07
Pernambuco            7.162584e+07
Alagoas               1.139388e+07
Sergipe               4.636421e+06
Bahia                 6.164569e+07
Minas Gerais          1.391578e+08
Espírito Santo        2.712745e+07
Rio de Janeiro        9.413736e+07
São Paulo             3.019863e+08
Paraná                9.118772e+07
Santa Catarina        4.888500e+07
Rio Grande do Sul     7.495459e+07
Mato Grosso do Sul    1.130299e+07
Mato Grosso           1.984925e+07
Goiás                 4.493982e+07
Distrito Federal      2.215644e+07

In [23]:
df_populacao.set_index('uf', inplace=True)

df_populacao

                     populacao
uf
São Paulo             46649132
Minas Gerais          21411923
Rio de Janeiro        17463349
Bahia Bahia           14985284
Paraná                11597484
Rio Grande do Sul     11466630
Pernambuco             9674793
Ceará                  9240580
Pará Pará              8777124
Santa Catarina         7338473
Goiás                  7206589
Maranhão               7153262
Amazonas               4269995
Espírito Santo         4108508
Paraíba                4059905
Mato Grosso            3567234
Rio Grande do Norte    3560903
Alagoas                3365351
Piauí                  3289290
Distrito Federal       3094325
Mato Grosso do Sul     2839188
Sergipe                2338474
Rondônia               1815278
Tocantins              1607363
Acre                    906876
Amapá                   877613
Roraima                 652713

In [24]:
df_populacao.join(df_gastos)

                     populacao      2021/Ago
uf
São Paulo             46649132  3.019863e+08
Minas Gerais          21411923  1.391578e+08
Rio de Janeiro        17463349  9.413736e+07
Bahia Bahia           14985284           NaN
Paraná                11597484  9.118772e+07
Rio Grande do Sul     11466630  7.495459e+07
Pernambuco             9674793  7.162584e+07
Ceará                  9240580  3.565001e+07
Pará Pará              8777124           NaN
Santa Catarina         7338473  4.888500e+07
Goiás                  7206589  4.493982e+07
Maranhão               7153262  2.577967e+07
Amazonas               4269995  1.380696e+07
Espírito Santo         4108508  2.712745e+07
Paraíba                4059905  1.616788e+07
Mato Grosso            3567234  1.984925e+07
Rio Grande do Norte    3560903  1.680917e+07
Alagoas                3365351  1.139388e+07
Piauí                  3289290  1.522089e+07
Distrito Federal       3094325  2.215644e+07
Mato Grosso do Sul     2839188  1.130299e+07
Sergipe                2338474  4.636421e+06
Rondônia               1815278  7.371335e+06
Tocantins              1607363  2.304080e+06
Acre                    906876  1.196755e+06
Amapá                   877613  1.875242e+06
Roraima                 652713  2.907871e+06

In [25]:
for estado in df_gastos.index:
    df_populacao.index = df_populacao.index.str.replace(f'{estado} {estado}', estado)

In [26]:
df_populacao.index

Index(['São Paulo', 'Minas Gerais', 'Rio de Janeiro', 'Bahia', 'Paraná',
       'Rio Grande do Sul', 'Pernambuco', 'Ceará', 'Pará', 'Santa Catarina',
       'Goiás', 'Maranhão', 'Amazonas', 'Espírito Santo', 'Paraíba',
       'Mato Grosso', 'Rio Grande do Norte', 'Alagoas', 'Piauí',
       'Distrito Federal', 'Mato Grosso do Sul', 'Sergipe', 'Rondônia',
       'Tocantins', 'Acre', 'Amapá', 'Roraima'],
      dtype='object', name='uf')

In [27]:
df_populacao.join(df_gastos)

                     populacao      2021/Ago
uf
São Paulo             46649132  3.019863e+08
Minas Gerais          21411923  1.391578e+08
Rio de Janeiro        17463349  9.413736e+07
Bahia                 14985284  6.164569e+07
Paraná                11597484  9.118772e+07
Rio Grande do Sul     11466630  7.495459e+07
Pernambuco             9674793  7.162584e+07
Ceará                  9240580  3.565001e+07
Pará                   8777124  2.083787e+07
Santa Catarina         7338473  4.888500e+07
Goiás                  7206589  4.493982e+07
Maranhão               7153262  2.577967e+07
Amazonas               4269995  1.380696e+07
Espírito Santo         4108508  2.712745e+07
Paraíba                4059905  1.616788e+07
Mato Grosso            3567234  1.984925e+07
Rio Grande do Norte    3560903  1.680917e+07
Alagoas                3365351  1.139388e+07
Piauí                  3289290  1.522089e+07
Distrito Federal       3094325  2.215644e+07
Mato Grosso do Sul     2839188  1.130299e+07
Sergipe                2338474  4.636421e+06
Rondônia               1815278  7.371335e+06
Tocantins              1607363  2.304080e+06
Acre                    906876  1.196755e+06
Amapá                   877613  1.875242e+06
Roraima                 652713  2.907871e+06

In [28]:
df_populacao.to_csv('./data/interim/fase1_parte2_aula1_2-populacao.csv')

df_gastos.to_csv('./data/interim/fase1_parte2_aula1_2-gastos.csv')